<?xml version="1.0"?>

  <!--For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433-->
  
<configuration>
	<connectionStrings>
		<add name="sst" connectionString="Server=103.21.58.192; Database=tasteclub;Persist Security Info=True; User Id=raghav; Password= Admin@123#; " providerName="System.Data.SqlClient"/>  <!--new-->
    <!--<add name="sst" connectionString="Server=64.71.180.27; Database=taste; User Id=raghav; Password= Admin@123#;"/>-->   <!--old-->





    <!--<add name="sst" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"/>
		<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
		<customErrors mode="Off"/>
		<!--<machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA"
decryptionKey="123456789012345678901234567890123456789012345678"
validation="SHA1" decryption="Auto" />-->
   
    <httpRuntime executionTimeout="1600" maxRequestLength="120480"/>
		<sessionState timeout="12000"/>
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/></system.web>
  
	<appSettings>
    <!--<add key="MERCHANT_KEY" value="JBZaLc"/>
    <add key="SALT" value="GQs7yium"/>-->
		<add key="MERCHANT_KEY" value="C7YZZE"/>
		<add key="SALT" value="ruBaXMQH"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
		<add key="action" value=""/>
		<add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
		<add key="FromMail" value="info@tasteclub.in"/>
		<add key="Password" value="info@123"/>
		<add key="Host" value="smtp.gmail.com"/>
    
		<add key="EnableSsl" value="true"/>
    <add key="Port" value="587"/>


    <!--<add key="UserName" value="name"/>
    <add key="Password" value="mehta@123"/>-->
	</appSettings>
</configuration>
